<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}<br />
        {{ form.birthday.label_tag }}
        <input type="datetime-local" name="birthday" id=""><br />
        {{ form.avatar.label_tag }}
        {{ form.avatar }}<br />
        <button type="submit">Send</button>
    </form>
</body>
</html>